In [1]:
import numpy as np
import pandas as pd

Zadanie 1

In [2]:
def freq(X, prob=True):
    xi, ni = np.unique(X, return_counts=True)

    if prob:
        ni = ni / len(X)
        # ni == pi
    return xi, ni

In [3]:
# X = [1, 2,2,2]
# xi, pi = freq(X)
# print(xi, pi)

Zadanie 2

In [4]:
# def freq2(X, Y, prob=True):
#     xy = [(xi, yi) for xi, yi in zip(X, Y)]

#     xi = pd.DataFrame(xy).groupby([0, 1]).value_counts().keys().tolist()
#     ni = pd.DataFrame(xy).groupby([0, 1]).value_counts().tolist()

#     if prob:
#         ni = [(x / len(X)) for x in ni]
#         # ni == pi
#     return xi, ni

In [5]:
def freq2(X, Y, prob=True):
    xy = [(xi, yi) for xi, yi in zip(X, Y)]

    sr = pd.Series(xy).value_counts()
    
    if prob:
        sr = sr / len(X)
        # ni == pi

    xi = list(sr.keys())
    ni = sr.tolist()

    return xi, ni

In [6]:
# X = [20, 10, 20, 10, 20, 10, 20, 30]
# Y = ['b', 'a', 'b', 'a', 'c', 'd', 'b', 'b']

# xi, ni = freq2(X, Y, prob=False)

# for i in zip(xi, ni):
#     print(f"{i[0]}: {i[1]}")

Zadanie 3

In [7]:
def entropy(P):
    P = np.array(P)
    h = float(np.sum(P * np.log2(1/ P)))
    # float() żeby rozszerzenie Error Lens do VSC nie pokazywało błędu
    return h

In [8]:
def infogain(X, Y):
    # (P) X_pi = freq(X)[1]
    i = entropy(freq(X)[1]) + entropy(freq(Y)[1]) - entropy(freq2(X, Y)[1])
    return i

Zadanie 4

In [9]:
zoo = pd.read_csv('zoo.csv')

column_names = np.empty(zoo.columns[1:-1].size, dtype=np.object_)
entropies = np.empty(zoo.columns[1:-1].size)
info_gains = np.empty(zoo.columns[1:-1].size)

for i, col in enumerate(zoo.columns[1:-1]):
    pi = freq(zoo[col])[1]
    ent = entropy(pi)
    inf = infogain(zoo[col], zoo['type'])

    column_names[i] = col
    entropies[i] = ent
    info_gains[i] = inf

df = pd.DataFrame({'kolumna': column_names, 'entropy': entropies, 'infogain': info_gains})
# df.sort_values(by='infogain', inplace=True)
df = df.sort_values(by='infogain', ascending=False)

df

     kolumna   entropy  infogain
12      legs  2.033811  1.363047
3       milk  0.974320  0.974320
7    toothed  0.968587  0.865694
2       eggs  0.979466  0.830138
0       hair  0.984030  0.790675
1   feathers  0.717950  0.717950
8   backbone  0.676163  0.676163
9   breathes  0.737490  0.614494
13      tail  0.822837  0.500460
4   airborne  0.791066  0.469703
11      fins  0.653840  0.466614
5    aquatic  0.939685  0.389487
15   catsize  0.988016  0.308490
10  venomous  0.399382  0.133090
6   predator  0.991427  0.093447
14  domestic  0.553898  0.050669